<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'images' %}">The pixels</a>
    </div>
    <div class="locations">
        <h4>Locations:</h4>
        {% for location in locations %}
        <a href="/location/{{location.id}}">{{location.location_name}}</a>
        {% empty %}
        <h4>There are no locations</h4>
        {% endfor %}
    </div>
  </div>
</nav>
</body>
</html>