{%extends 'All-pictures/base.html'%} 
<!Doctype <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
 
{% block content %}


  <div class="row">
    {% if images %}
      <h2>Found {{images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 image for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

   {% if images %}
   {% for image in images %}
   
      <div class=" col-md-3">
        
         
        <img src="{{image.image.url}}" class="img-responsive" alt="Image" height="500px" width="500px">
        <h4>{{image.description}}</h4>
        
         
      </div>
   
  
  {% endfor %}
  {% endif %}
  </div>
 
{% endblock %}
 
</body>
</html>