{%extends 'All-pictures/base.html'%}
{%block content%}
<h1> Welcome to the My Gallery</h1>

{% for pic in images%}

  <div class="row"> 
     
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"> {{ pic.name }} </h2>
        
      <a href="" data-toggle= "modal" data-target="#{{pic.id}}"><img src="{{pic.image.url}}" class="img-responsive" alt="Image" height="250px" width="250px"></a> 
      </div>    

  </div>
   
      <div id="{{pic.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
              
                <h2 class="modal-title">{{pic.name}}</h2>
                <h4>{{pic.capture_date}}</h4>

              </div>
              <div class="modal-body">
                  <img src="{{pic.image.url}}" class="img-responsive" alt="Image">
                <p>{{pic.description}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        
   
  {%endfor%}

{%endblock%}