{%extends 'All-pictures/base.html'%}
{%block content%}
<h1> Welcome to the My Gallery</h1>

{% for pic in images%}

 
  <div class="row" id="pictures"> 
     
      <div class="col-sm-6">

      <a href="" data-toggle= "modal" data-target="#{{pic.id}}"><img src="{{pic.image.url}}" class="img-responsive" alt="Image" height="700px" width="700px"></a> 
      </div>    
 
  </div> 
    
      <div id="{{pic.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
         
            <div class="modal-content modal-lg">
              <div class="modal-header">
              
                <h2 class="modal-title">{{pic.name}}</h2>
                <h4> Captured at {{pic.capture_date}}</h4>

              </div>
              <div class="modal-body">
                  <img src="{{pic.image.url}}" class="img-responsive" alt="Image" height="1000px">
                <div class ="description">
                <p>{{pic.description}}</p>
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        
        
          </div>
        </div>
      </div>
  
   
  {%endfor%}

{%endblock%}